<% if user_signed_in? %> 
	<% if current_user.is_moderator %>
		<h1>Editing Newsfeed</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @newsfeed %> |
		<%= link_to 'Back', newsfeeds_path %>
	<% end %>
<% end %>