<table>
	<tr>
		<th>Position</th>
		<th>Namen</th>
		<th>Score</th>
	</tr>
	<% Rank.rank_list(0,10).each do |rank, pos| %>
		<tr>
			<td><%= pos %>.</td>
			<% if(rank.user.username) %>
			  <td><%= rank.user.username %></td>
			 <% else %>
			   <td><%= rank.user.email %></td>
			 <% end %>
			<td><%= rank.score %></td>
		</tr>
	<% end %>
</table>