


<table>
	<tr>
		<th>Position</th>
		<th>Namen</th>
		<th>Score</th>
	</tr>
	<% RanksController.rankList(0,10).each do |rank, pos| %>
		<tr>
			<td><%= pos %>.</td>
			<td><%= link_to rank.user.username, {:controller => "profile", :action => "user", :user => rank.user.username }%></td>
			<td><%= rank.score %></td>
		</tr>
	<% end %>
</table>