<p id="notice"><%= notice %></p>
	
<p>
  <strong>Name:</strong>
  <% current_user.select_ship(@ship.user_ship.ship_id) %>
  <%= @ship.name %>
  ist ausgewählt
</p>

<%= link_to 'Edit', edit_ship_path(@ship) %> |
<%= link_to 'Back', ships_path %>
