<% if current_user.is_user %>
	<div class="field">
	    <%= form_for @user_icon, url: user_icons_path, method: :post, html: { multipart: true } do |form| %>
	      <%= form.file_field :image %>
	      <%= form.submit 'Benutzerbild hochladen'%>
	    <% end %>
	</div>
<% end %>