/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /** Main - Settings **/
html,body {
	margin: 0 auto;
	background: url('background.jpg');
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #FFFF00;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul li {
	background-image: url('marker.png');
	background-repeat: no-repeat;
	background-position: 0px center;
	background-size: 20px 20px;
	margin: 30px 0 0 10px;
}

/** DIV - Settings**/
#wrapper {
	position: relative;
	width: auto;
	height: 900px;
	padding: 25px 50px 1px 50px;
	opacity: 0.85;
}

#top {
	position: static;
	width: 100%;
	height: 15%;
	top: 0%;
}

#login {
	position: relative;
	width: 10%;
	height: 100%;
	max-width: 10%;
	display: inline-block;
	top: 0;
}

#banner {
	position: relative;
	width: 90%;
	height: 100%;
	max-width: 90%;
	background-image: url('banner.jpg');
	background-size: 100% 100%;
}

#mid {
	position: static;
	width: 100%;
	height: 10%;
	top: 15%;
}

#ranking {
	position: relative;
	width: 10%;
	height: 100%;
	max-width: 10%;
}

#resources {
	position: relative;
	width: 90%;
	height: 100%;
	max-width: 90%;
}

#botm {
	position: static;
	width: 100%;
	height: 75%;
	top: 25%;
}

#menu {
	position: relative;
	width: 10%;
	height: 100%;
	max-width: 10%;
}

#game {
	position: relative;
	width: 90%;
	height: 100%;
	max-width: 90%;
}

.content {
	position: relative;
	display: table;
	float: left;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
	border: 2px solid white;
	box-shadow: 10px 10px #003366;
	box-sizing: border-box;
	background-color: #000066;
}

.login_text {
	font-size: 90%;
	display: inline-block;
}

.tooltip {
	position: relative;
	display: inline;
	float: left;
	margin: 30px 10% 0% 10%;
}

.tooltip:hover:after {
	position: absolute;
	background: #333;
	border-radius: 5px;
	width: 220px;
	bottom: 25px;
	left: 20%;
	padding: 5px 15px;
	z-index: 1;
	content: attr(data-tooltip);
}

.field {
	position: relative;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

/** Element - Settings **/ 
#user_icon {
	position: relative;
	width: 30%;
	height: auto;
}

#game_name {
	position: absolute;
	bottom: 25px;
	left: 50px;
}

#rank_table {
	margin-left: auto;
	margin-right: auto;
}

#error_explanation {
	position: absolute;
	color: #000;
	top: 100px;
	left: 100px;
	z-index: 2;
}