// Place all the styles related to the BuildLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#table_builds {
  margin: auto;
  position: relative;
  width: 100%;
  border: 5px;
  border-collapse: collapse;
}

#active {
	background: #1411fa;
	border: 5px;
	border-collapse: collapse;
	font-weight: bold;
}