// Place all the styles related to the Expeditions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#table_expedition {
	position: relative;
  	margin-left: auto;
  	margin-right: auto;
  	width: 70%;
  	border: 5px;
  	border-collapse: collapse;
}
