// Place all the styles related to the Expeditions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#table_expedition {
  margin: auto;
  position: relative;
  width: 70%;
  border: 5px;
  border-collapse: collapse;
 table-layout: fixed;
 }
