// Place all the styles related to the Ranks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#rank_table {
	margin: 1% auto 1% auto;
	table-layout: fixed;
	width: 90%;
}