// Place all the styles related to the ships_stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#table_ship_stations {
  margin: auto;
  position: relative;
  width: 80%;
  border: 5px;
  border-collapse: collapse;
  table-layout: fixed;
 }

#active {
	background: #1411fa;
	border: 5px;
	border-collapse: collapse;
	font-weight: bold;
}

#inactive {
	border: 5px;
	border-collapse: collapse;
}