// Place all the styles related to the stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#stationsite {
 border-collapse: collapse;
 margin: auto;
}

#table_stations {
  //margin: auto;
  position: relative;
  width: 70%;
  border: 5px;
  border-collapse: collapse;
  table-layout: fixed;
 }

#icon {
 border: 3px solid white;
  display: table;
  //margin-bottom: 30px;
  border-collapse: collapse;
}

a span{
	display:none;
	color:#fff;
	background: #00317d;
	padding:5px;
	border-radius:44px;
    font-weight: bold;
	width:300px;
	position: absolute;
}

a { display: inline-block;}
a:hover span{ display:block; }
