// Place all the styles related to the stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.test123 {
	position: relative;
	width: 100%;
}

#stationsite {
 border-collapse: collapse;
 margin: auto;
}

#table_stations {
  margin: auto;
  position: relative;
  width: 100%;
  border: 5px;
  border-collapse: collapse;
  table-layout: fixed;
 }

.ship_t1 {
	border-collapse: collapse;
 	margin: auto;
	border: 0px solid white;
	font-size: 16px;
	font-weight: bold;
	color: white;
	height: 50px;
}


.ship_t2 {
	margin: 2px 5px 2px 5px;
	width: 150;
	display: inline-block;
	background-color: white;
	font-weight: bold;
	font-size: 10px;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid black;
	color: black;
}

