// Place all the styles related to the stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#stationsite {
 border-collapse: collapse;
 margin: auto;
}

#table {
  margin: auto;
  width: 40%;
  border: 3px;
  border-collapse: collapse;
 }

#icon {
 border: 2px solid white;
 display: table;
 //margin-bottom: 30px;
 border-collapse: collapse;
}
