<p id="notice"><%= notice %></p>

<h1>Listing Unit Instances</h1>

<table>
  <thead>
    <tr>
      <th>Unit</th>
      <th>Ship</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_ship = current_user.active_ship %>
    <% @unit_instances.each do |unit_instance| %>
      <% if(unit_instance.ship_id == current_ship.id) %>
        <tr>
          <td><%= Unit.find_by(:id => unit_instance.unit_id).name %></td>
          <td><%= unit_instance.amount %></td>
          <td><%= link_to 'Edit', edit_unit_instance_path(unit_instance) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>